@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

a {
  text-decoration: none;
  color: blue;
}

ul {
  list-style: none;
}


*, *::before, *::after {
  box-sizing: border-box;
}

.toggle input  {
  position: absolute;
  left: -9999px;
}

.toggle label  {
  display: block;
  position: relative;
  margin: 20px;
  padding: 15px 30px 15px 62px;
  border: 3px solid #fff;
  border-radius: 100px;
  color: #fff;
  background-color: #6a8494;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
}

.toggle label::before  {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

.toggle label:first-of-type  {
  transform: translateX(-40px);
}

.toggle label:last-of-type  {
  transform: translateX(40px);
}

.toggle label:hover, input:focus + label  {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}

.toggle input:checked + label  {
  background-color: #ab576c;
}

.toggle input:checked + label::before  {
  background-color: #fff;
}

