<h1>Add a recipe</h1>

<form action="/recipes" method="post" class="form-example">
  <div class="form-example">
    <label for="name">Recipe's name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form-example">
    <label for="description">Recipe's description: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form-example">
    <label for="prep_time">Recipe's prep time: </label>
    <input type="text" name="prep_time" id="prep_time" required>
  </div>
  <div class="form-example">
    <label for="difficulty">Recipe's difficulty: </label>
    <input type="text" name="difficulty" id="difficulty" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Create!">
  </div>
</form>
